.banner_UploadPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
  overflow: scroll;
}

.banner_img_select_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.banner_img_select_pic {
  max-width: 380px;
  max-height: 500px;
  cursor: pointer;
}

.banner_img_select_button {
  width: 300px;
  height: 300px;
  cursor: pointer;
  background-color: lightgray;
  border: none;
  border-radius: 3px;
}

.banner_SelectFileContainer {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.banner_SelectFileContainer .banner_top {
  /* background-color: blueviolet; */
  flex: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: gray;
}

.banner_SelectFileContainer .banner_top .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 15px;
}

.banner_SelectFileContainer .banner_top .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.banner_SelectFileContainer .body:not(#Selected) {
  /* background-color: pink; */
  flex: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner_SelectFileContainer #Selected {
  /* background-color: pink; */
  flex: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner_SelectFileContainer .body h4 {
  padding-bottom: 50px;
}

.banner_SelectFileContainer .body .uploadBtn {
  width: 120px;
  height: 40px;
  background-color: #075fd4;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  display: grid;
  place-items: center;
}

.banner_SelectFileContainer .body .uploadBtn:hover {
  cursor: pointer;
}

.banner_SelectFileContainer .body .uploadBtn label {
  cursor: pointer;
}

/* ------------------------UploadForm-------------------------------- */

.banner_uploadForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.banner_uploadForm .banner_upload_bttn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_image_upload_bttn {
  width: 50%;
  height: 30px;
  margin: 20px 10px;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
}

.banner_image_upload_bttn:hover {
  cursor: pointer;
  background-color: gray;
}
