.users_page_container {
  display: flex;
  flex-direction: column;

  margin: 0 60px;
  padding-top: 50px;
}

.profile_info_board_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  /* background-color: chartreuse; */
  overflow: hidden;
  max-width: 30vw;
  min-width: 300px;
  max-height: 50vh;
  /* margin: 0 20px; */
  justify-content: center;
  align-items: center;
}

.profile .profile_mainImage {
  width: 90%;
  height: 90%;
}

.profile .btns {
  width: 83%;
  display: flex;
  justify-content: flex-end;
}

.profile .btns button {
  margin: 10px 5px;
}

/* ----------------------------------------------------- */

.users_info_board_container {
  flex: 0.3;
  display: flex;
  /* background-color: coral; */
  flex-direction: column;
  min-width: 350px;
  margin-left: 40px;
}

.users_info {
  /* display: flex;
  flex-direction: row; */
  border-left: 1px solid rgb(182, 182, 182);
  height: 80%;
}

.user {
  display: flex;
  flex: 0.25;
  flex-direction: row;
  /* background-color: cornflowerblue; */
  border: 1px solid rgb(182, 182, 182);
}

.user .user_proflie {
  display: flex;
  flex: 0.75;
  align-items: center;
}

.user .user_profile_pic {
  display: flex;
  flex: 0.25;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.user .user_profile_pic img {
  width: 85px;
  height: 85px;
  border-radius: 3px;
}

.user_proflie .users_info {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  height: auto;
}

.user_proflie .users_info .users_info_top {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  font-size: 12px;
  font-weight: bold;
}

.user_proflie .users_info .users_info_top .users_id {
  padding: 3px 5px;
}

.users_info_bottom {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 50px;
  height: 40px;
  min-width: 185px;
  margin-bottom: 15px;
  font-size: 12px;
  padding: 5px 8px;
  box-shadow: 0 0px 5px rgb(0 0 0 / 70%);
}

.users_info_bottom::-webkit-scrollbar {
  display: none;
}
.users_info_bottom_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 7px;
}
.users_info_bottom_container .users_info_update_btn {
  width: 65px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 6px;
  background: white;
  text-align: center;
}

.users_info_bottom_container .users_info_update_btn:hover {
  background: gray;
  cursor: pointer;
}

/* -------------------------------------------------------- */
.users_info_board_container .board {
  display: flex;
  flex: 0.75;
  margin-top: 20px;
  /* background-color: burlywood; */
  border: 1px solid rgb(182, 182, 182);
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.users_info_board_container .board .board_list {
  width: 95%;
  /* border-bottom: 1px solid rgb(182, 182, 182); */
  max-width: 40vw;
  min-width: 200px;
  max-height: 60vh;
  min-height: 120px;
  margin: 10px 10px 0 10px;
}

/* .users_info_board_container .board .board_list a {
  flex: 0.5;
  text-decoration: none;
  color: black;
  display: flex;
  width: 100%;
} */

.users_info_board_container .board .board_list .board_container {
  display: flex;
  width: 100%;
  min-height: 200px;
  flex-direction: column;
}

.users_info_board_container .board .board_list .date {
  display: flex;
  justify-content: flex-end;
  flex: 0.5;
  font-size: 11px;
}

.board_title_btn {
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 0px;
}

.board_title_btn:hover {
  cursor: pointer;
  color: gray;
}

.board_title_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main_image_btns {
  display: flex;
  width: 95%;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.main_image_btns .update_main_image {
  width: 65px;
  height: 25px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  background: white;
  text-align: center;
}

.main_image_btns .update_main_image:hover {
  background-color: gray;
  cursor: pointer;
}

.board_btns {
  display: flex;
  width: 95%;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

.board_btns .small_btns {
  width: 65px;
  height: 25px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  background: white;
  text-align: center;
}

.board_btns .small_btns:hover {
  cursor: pointer;
  background-color: gray;
}

.pageNationBtns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pageNationBtns a {
  padding: 4px;
  margin: 2px;
  color: gray;
  cursor: pointer;
}

.pageNationBtns a:hover {
  color: black;
}

.paginationActive a {
  color: black;
}

.boardPageNationBtns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 12px;
}

.boardPageNationBtns a {
  padding: 4px;
  margin: 2px;
  color: gray;
  cursor: pointer;
}

.boardPageNationBtns a:hover {
  color: black;
}

/* -------------------------------------------------------- */

.users_image_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.users_image_card {
  display: table;
  width: 250px;

  margin: 10px 20px;
}

.users_image_card img {
  max-width: 250px;
}

.users_image_card img:hover {
  max-width: 260px;
  cursor: pointer;
}

.users_image_card .images_info {
  display: flex;
  flex-direction: column;
}

.users_image_card .images_info .images_info_title {
  font-size: 17px;
  font-weight: bold;
}

/* .users_image_card .images_info .images_info_id {
  font-size: 12px;
  color: gray;
  margin-top: 3px;
}

.users_image_card .images_info .images_info_id:hover {
  cursor: pointer;
  color: black;
  font-size: 14px;
} */
