.searchPage {
  flex: 1;
  background-color: white;
  padding: 20px 20px;
}

.searchPage_filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
}

.searchPage_filter > h2 {
  margin-right: 10px;
}
