.header_input {
  display: flex;
  align-items: center;
  width: 60%;
  border: 1px solid lightgray;
}

.header_input > input {
  flex: 1;
  border: none;
}

.header_input_button {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}
